---
import DesignSystemLayout from '../layouts/DesignSystemLayout.astro';
---
<DesignSystemLayout title="HAS Design System">
  <div class="topbar">
    <div class="mark">
      <span class="dot"></span>
      <span class="name">HAS / STYLE</span>
    </div>
    <span></span>
    <div class="kv"><span class="k">REV</span><span class="v">01.00</span></div>
    <div class="kv"><span class="k">BUILD</span><span class="v">2026.04.23</span></div>
    <div class="kv"><span class="k">HASH</span><span class="v">9F2A-8C1D</span></div>
    <div class="kv"><span class="k">CH</span><span class="v">01 / OPS</span></div>
  </div>
</DesignSystemLayout>
